include NEWS
include COPYING
include README.md
include *requirements.txt

recursive-include sopel_modules/lua/lua_modules *.lua
recursive-include tests *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
